*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: url(/to2.jpg);
}


.logo a{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #faca2b;
    float: left;
    padding-top: 7px;
}

.logo a:hover{
    color: white;
}
.names{
    color: #faca2b;
    float: right;
    padding-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
.navbar{
    background-color: #c34242;
    width: 1535px;
    height: 50px;
    background-size: cover;
}

.menu{
    display: flex;
    align-items: center;
    float: center;
    
}

ul{
    display: flex;
    list-style: none;
    margin-left: 500px;
}

ul li {
 margin-top: 20px;
 margin-left: 20px;
}

ul li a {
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: #faca2b;
}

ul li a:hover, a.active{
    color: #ffffff;
    background: #faca2b;
    border-radius: 5px;
}
/*contents*/



.content1 h1{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    margin-top: 90px;
    padding-top: 90px;
    font-weight: bold;
}

.content1 .btn {
    margin-left: 700px;
    margin-top: 15px;
    color: aliceblue;
    background-color: #faca2b;
    height: 20px;
    width: 70px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.par{
    color: white;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
}

.red{
    color: #c34242;
}

.red:hover{
    color: #faca2b;
}

.btn a {
    color: white;
}
.btn a:hover{
    color: #faca2b;
    background-color: #c34242;
    border-radius: 7px;
    border: none;
}

.card{
    width: 400px;
    height: 500px;
    margin: 5px auto;
    background: #c34242;
}

.card img{
  width: 100%;
  height: 100%;
}

.img1{
    object-fit: cover;
}

.img2{
    object-fit: contain;
}


/*photos*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

input{
    display: none;
}

.contianer{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    color: #faca2b;
}
h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
0%{
    width: 100px;
}
50%{
    width: 200px;
}
100%{
    width: 100px;
}
}

.top-content{
    background-color: rgb(232, 228, 6);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(157, 17, 4);
}
h3{
    height: 100%;
    background-color: rgb(227, 86, 86);
    line-height: 60px;
    padding: 0 50px;
    color: white;
    
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: #faca2b;
    cursor: pointer;
    transition: .5s;
}
label:hover{
    color: rgb(255, 252, 252);
    opacity: .8;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(175, 20, 20);
    cursor: pointer;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s;
}
.pic::before{
    content: 'PHOTO GALLERY';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    content: ' ';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0%;
    background-color: rgb(0, 0, 0, 0.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .contianer .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .contianer .photo-gallery .FAMILLY{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .contianer .photo-gallery .CHILDS
#check2:checked ~ .contianer .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}